html{
    background-color: #caf0f8;
}
header{
    background-color: #F4F7FA;
    height: 102.98px;
}
h1{
    color: #24887c;
}
span {
    display: inline-block;
    text-align: end;
    margin: 0px;
    border-right: 2px solid #560bad; 
}
.span-ultimo{
    display: flex;
    flex-direction: column;
}
span{
    display: flex;
    flex-direction: column;
}
p{
    text-align: end;
    margin: 0px;
    border-bottom: 2px solid #560bad;
}

.ultimo{
    display: none;
}

main div{
    display: flex;
    gap: 40px;
    height: 422px;
}

#div-cuadros{
    flex-direction: column;
    gap:40px;
    height: auto;
}

#div-boton{
    height: auto;
}



section{
    display: flex;
    border-left: 2px solid #560bad;
    border-top: 2px solid #560bad;
    width: max-content;
}
.ultimo-predetermidado{
    display: none;
    border-bottom: 2px solid #560bad;
}
button{
    display: block;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2fdac6;
    color: #03045e;
}

.numeral{
    height: 18px;
}